h1 {
	color: #A9A9A9;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 3px solid gray;
}

body {
	overflow-x: hidden;
}

.wrapper {
	text-align: center;
	margin-top: 10px;
}

.myTitle {
	text-align: center;
}

.unOpened {
	border: 1px solid black;
}

.topWrapper {
	background-image: url("../images/backgroundImage.jpg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: white;
    /* opacity: .6; */
    height: 500px;
    margin-bottom: 10px;
}

.myForm {
	margin-top: 10px;
	font-weight: bold;
}

img {
	z-index: 1;
	transition: all 0.3s ease-out;
}

/*img:hover {
	width: 800px;
	height: 800px;
	position:relative;
	z-index: 2;
	transform: scale(1.1);
}
*/

img.unOpened:hover {
	cursor: pointer;
}

img.opened:hover {
	cursor:pointer;
}

.hidden {
	display: none;
}

.alignToCenter {
	vertical-align: middle;
	text-align: center;
}

/*.transitionBorder {
	border: 1px solid black;
	-webkit-transition: width 1s, height 1s, border 1s;
	transition: width 1s, height 1s, border 1s;
}*/

form {
	text-align: center;
}

button:hover {
/*	background-color: black; */
	box-shadow: 3px 3px #A9A9A9;
}

button {
	border-radius: 10%;
	margin-left: 5px;
	padding: 2px;
}

.errorMessage{
		text-align: center;
		color: red;

}

@media (max-width: 608px) {
	.myForm {
		display: inline-block;
		width: 100%;
	}
}